.article {
	display: flex;
	font-size: 0.85em;

	& a {
		color: var( --color-brand-1 );
	}

	& p {
		color: var( --color-brand-2 );
		font-family: var( --font-text );
		font-weight: var( --font-weight );
		line-height: var( --line-height );
	}

	transition: transform 0.25s ease;

	@media ( width > 600px ) {
		max-width: 30em;
	}
}
