.stages {
	background-color: var( --color-brand-3 );
	border-spacing: var( --stage-spacing ); /* IE9 fallback */
	display: flex;
	overflow-x: auto;
	padding-top: var( --stage-spacing );
}

.stages > * {
	flex: 0 0 auto;
	margin-left: var( --stage-spacing );
}

.stages:after {
	content: '';
	flex: 0 0 var( --stage-spacing );
}

.stage {
	display: table-cell; /* IE 9 fallback */
	height: calc( 100% - var( --stage-header-height ) - var( --stage-footer-height ) );
	width: 300px;
}

.stage > header {
	border-radius: var( --border-radius ) var( --border-radius ) 0 0;
}

.stage > footer {
	border-radius: 0 0 var( --border-radius ) var( --border-radius );
}

.stage > * {
	background-color: #e2e4e6;
	color: #333333;
	padding: var( --ticket-spacing );
}

.stage_list_container:not( :last-child ) {
	padding-top: 20px;
}

.stage_list {
	list-style: none;
	margin: -20px 0 0 0;
	max-height: calc( 100% - var( --stage-spacing ) - var( --primary-nav-height ) );
	overflow-y: auto;
	padding-bottom: 0;
	padding-top: 0;

	&_ticket {
		background-color: var( --ticket-color );
		border-radius: var( --border-radius );
		box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
		box-sizing: border-box;
		padding: var( --ticket-padding );

		&:before {
			background-color: transparent;
			transition: background-color 0.5s;
		}
	}

	&_ticket:not( :last-child ) {
		margin-top: var( --ticket-padding );
	}
}

.stage textarea{
	border-top: 3px solid transparent;
	font-family: var( --font-text );
	font-size: 1.6rem;
	margin: 0;
	padding-bottom: 10px;
	width: 270px;
}
